.card__container {
  margin-right: 80px;
  margin-left: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
}
@media screen and (max-device-width: 480px) and (orientation: portrait) {
  .card__container {
    margin-left: 25px;
    margin-right: 25px;
  }
}
